<div>
    <div class="technical-padding">
        <!-- techinal-padding-must have -->
        <div class="technical-padding-container">
            <div class="banner-background-image">
                <picture>
                    <source srcset="https://a0.muscache.com/im/pictures/3da6b6d9-3351-4ddf-b88c-127f0fda7bdf.jpg?im_w=1200 1x, https://a0.muscache.com/im/pictures/3da6b6d9-3351-4ddf-b88c-127f0fda7bdf.jpg?im_w=1920 2x"
                         media="(min-width: 1128px)">
                    <source srcset="https://a0.muscache.com/im/pictures/4bdbc082-4aa4-4fa5-8200-c0931195b95d.jpg?im_w=720 1x, https://a0.muscache.com/im/pictures/4bdbc082-4aa4-4fa5-8200-c0931195b95d.jpg?im_w=1440 2x"
                         media="(min-width: 744px)">
                    <source srcset="https://a0.muscache.com/im/pictures/137fb7ba-01a4-47bc-b885-a854885e235b.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/137fb7ba-01a4-47bc-b885-a854885e235b.jpg?im_w=720 2x">
                        <!-- fallback -->
                    <img class="_dae4t6" aria-hidden="true" alt="" src="https://a0.muscache.com/pictures/3da6b6d9-3351-4ddf-b88c-127f0fda7bdf.jpg">
                </picture>
            </div>
        </div>

        <div class="technical-padding-container">
            <div class="_m3doxm4 banner-content" style="background-color: transparent;">
                <div class="banner-content-container">
                    <section>
                        <div class="_153vsko">
                            <h1 tabindex="-1" class="_14i3z6h">Get out and stretch your imagination</h1>
                        </div>
                        <div class="_sk55py">You don’t have to go far to find a world of&nbsp;wonder.</div>
                        <a href="/s/all?refinement_paths%5B%5D=%2Fplaylists%2F40319" class="_ld2mv55">Explore</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
